<div id="images">	
    <% media_response['data'].each do |media| %>
     	<div class="img-container">
	  		<img src="<%= media['images']['standard_resolution']['url'] %>"/>

		</div>
 	<% end %>
</div>