   
<div class="container">

    <h2>See the world around you.</h2>
    <p>Using Mapic is simple:</p>
    <ol>
        <li>Enter an address location below.</li>
        <li>See beautiful photos from the specific locale.</li>
    </ol>

</div>