   
<div class="container">
<!-- 
    <h2>See the world around you.</h2>
    <p>Using Mapic is simple:</p>
    <ol>
        <li>Enter an address location below.</li>
        <li>See beautiful photos from the specific locale.</li>
    </ol> -->


   <div class="search">
    <form id="input" action="/" method="get">
      <input class="address" type="text" name="address" placeholder="Enter a place or address.">
      <input class="button" type="submit" value="Mapic!">
    </form>
  </div>

<div class="image_list">
 <%= erb :image_response %>
</div>