<div id="map"></div>
<div class="container">
  <div class="search">
   <form id="input" action="/" method="post">
    <input class="address" type="text" name="address" placeholder="Enter a place or address.">
    <input id="button" class="button" type="submit" value="Mapic!">
   </form>
  </div>
  <div class="image_list" id="image_list"></div>
 </div>
